.login {
  align-items: center;
  color: #e2ded3;
  border: 1px solid transparent;
}

.login:hover {
  color: #fff;
  opacity: 0.9;
}

.login-facebook {
  background-color: #1877f2;
}

.login-google {
  background-color: #dd4b39;
}
