.card {
  border: none;
  box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.24);
  background: linear-gradient(180deg, #7c6e6a 0%, #65554e 100%);
}

.post-card {
  min-height: 240px;

  .card-title {
    margin-bottom: 0;
  }
  .post-title {
    font-size: 27px;
  }

  .post-card-img {
    height: auto;
    width: 40%;
    min-width: 40%;
  }
}
.product-card .card-title {
  color: #fed11b;
}
