// Import constants
@import "./colors.scss";

form {
  background: $color_accent;
  border: 1rem solid $color_accent;
  border-radius: 1rem;
}

.form-control:focus {
  color: $gray;
  background-color: $white;
  border-color: $white;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}
