// Import constants
@import "./colors.scss";

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: $color_primary_darker;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  color: $color_accent_darker;

  form {
    background-color: $color_primary_darker;
    border-color: $color_primary_darker;

    .text-danger {
      color: $orange !important;
    }
  }
}

.login {
  color: $color_primary_dark;
}

.login:hover {
  color: $white;
}

.login-github {
  background: #333;
}

.login-twitter {
  background: #00acee;
}

.login-facebook {
  background: #3b5998;
}

.close {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: $color_accent_darker;
  text-shadow: 0 1px 0 $color_accent_darker;
}

.close:hover {
  color: $color_accent_darker;
}

.modal-header,
.modal-footer {
  border-bottom-color: $color_primary_dark;
}
