// Import constants
@import "./colors.scss";

.nav-light.nav-pills .nav-link {
  background-color: $color_primary;
  color: $color_secondary;
}

.nav-light.nav-pills .nav-link.active {
  background-color: $color_third;
  color: $color_primary_dark;
}

.nav-dark.nav-pills .nav-link {
  background-color: $color_secondary_dark;
  color: $color_primary_dark;
}

.nav-dark.nav-pills .nav-link.active {
  background-color: $color_third;
  color: $color_primary_dark;
}
