// Import constants
@import "./colors.scss";

.nav-tabs {
  border: 2px solid $color_primary_darker;
  padding: 0.8rem;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: $color_primary_dark;
  background-color: $color_primary_darker;
}
