// Import constants
@import "./colors.scss";

.pagination > li > a,
.pagination > li > span {
  background-color: transparent;
  border: 2px solid $color_light;
  border-radius: 20px;
  color: $color_light;
  height: 36px;
  margin: 0 2px;
  min-width: 36px;
  padding: 8px 12px;
  font-weight: 600;
}

.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > a:active {
  background-color: $color_primary;
  border-color: $color_light;
  color: $color_secondary_dark;
}

.page-item.active .page-link {
  background-color: $color_light;
  color: $color_secondary_dark;
  border-color: $color_light;
}

.pagination .page-link {
  box-shadow: none;
}

.page-item.disabled .page-link {
  color: $color_primary;
  pointer-events: none;
  cursor: auto;
  background-color: transparent;
  border-color: $color_primary;
}
