$color_background: #493c37;

$color_primary: #f5f3f0;
$color_primary_dark: #e2ded3;
$color_primary_darker: #a7938b;

$color_accent: #726058;
$color_accent_dark: #5e4e47;
$color_accent_darker: #3a312c;

$black: #1d1916;
$gray: #495057;
$white: #fff;

$yellow: #fed11b;
$orange: #ffa04d;
